.form-box {
    max-width: 500px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

.form-box h2 {
    color: #fff;
    font-weight: bold;
}

.form-box input,
.form-box select,
.form-box textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

.form-box button {
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
}


.form-box button:hover {
    transform: scale(1.05);
}
